:root {
  --color-border: rgba(0, 0, 0, 0.1);
  --color-highlight: #9900ff;
  --header-height: 4rem;
  --page-padding: 1rem;
  --page-width: calc(var(--page-padding) * 2 + 72ch);
  --page-max-width: calc(100vw - var(--page-padding) * 2);

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

@media (min-width: 720px) {
  :root {
    --page-padding: 4rem;
  }
}

body {
  display: grid;
  min-height: 100vh;
  place-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section > * + * {
  margin-top: 0.5rem;
}
section > * + h1,
section > * + h2,
section > * + h3 {
  margin-top: 3rem;
}
section > h1 {
  margin-bottom: 2.5rem;
}
section > h3 {
  margin-top: 1.5rem;
}
section > h2 + h3 {
  margin-top: 0;
}
section > * + h2 {
  border-bottom: 1px solid var(--color-border);
  line-height: 1.2;
  margin-bottom: 0.667rem;
  margin-top: 2.5rem;
  padding-bottom: 0.7rem;
  padding-top: 0.2rem;
}

a {
  color: var(--color-highlight);
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}

pre {
  color: var(--color-highlight);
  font-family: 'IBM Plex Mono', monospace;
  margin: 1rem 0;
}

ul {
  margin: 1rem 0;
}
li {
  list-style: none;
  margin-left: 1rem;
}
li::before {
  content: '•';
  margin-right: 1rem;
}

img {
  display: block;
}

.page-padding {
  padding: 0 var(--page-padding);
}

.page-width {
  margin: 0 auto;
  max-width: var(--page-max-width);
  width: var(--page-width);
}

.header {
  height: var(--header-height);
  position: fixed;
  top: 0;
  width: 100%;
}
.header-inner {
  align-items: center;
  border-bottom: 1px solid;
  display: flex;
  height: 100%;
  margin: 0 auto;
}
.header .logo img {
  height: 3rem;
}
.header .logo + .name {
  margin-left: 1rem;
}
.header .name {
  font-weight: 700;
}
.header .menu {
  flex: 1;
}
.header .menu ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.header .menu li {
  margin: 0;
}
.header .menu li::before {
  display: none;
}
.header .menu > ul > li + li {
  margin-left: 1rem;
}
.header .menu > ul > li a {
  align-items: center;
  border: 1px solid;
  border-radius: 3px;
  color: inherit;
  display: inline-flex;
  height: 2rem;
  letter-spacing: 0.02em;
  padding: 0 0.6em;
  text-decoration: none;
  text-transform: uppercase;
}
.header .menu > ul > li a:hover {
  color: var(--color-highlight);
}
.header .menu .dropdown {
  display: none;
}
.header .menu .dropdown.is-open {
  display: block;
}

.breadcrumbs .divider {
  margin: 0 0.5em;
}

.category li {
  margin-left: 0;
}
.category li::before {
  display: none;
}

.lead {
  font-size: 1.5em;
}

.toc {
  margin: 2.5rem 0 3.5rem;
}
.toc ul {
  margin: 0;
}
.toc ul ul {
  margin-left: 1rem;
}
.toc li {
  margin-left: 0;
}
.toc li::before {
  display: none;
}

.welcome {
  text-align: center;
}
