<!DOCTYPE html>
<html class="theme-mono" lang="en-NZ">
<head>
  <title>$title$ | Docs | $app-name$ | kelseyjudson.dev</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1" />
  ${head_includes()}
</head>
<body>
  ${header()}
  <main>
    <section class="page-width">
      <nav class="breadcrumbs">
        <a href="/">Home</a><span class="divider">/</span><a href="/$app-slug$/docs/">$app-name$ Docs</a><span class="divider">/</span><a href="/$app-slug$/docs/$category-slug$/">$category-name$</a><span class="divider">/</span><span class="current">$title$</span>
      </nav>
      <h1>$title$</h1>
$if(toc)$
      <nav class="toc">
        $table-of-contents$
      </nav>
$endif$
$-- NOTE: Indentation of body breaks indentation of <pre> (code block) elements.
$body$
    </section>
  </main>
</body>
</html>
