<!DOCTYPE html>
<html class="theme-mono" lang="en-NZ">
<head>
  <title>Privacy Policy | $app-name$ | kelseyjudson.dev</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1" />
  <link href="../kelseyjudson.dev.css" rel="stylesheet" />
</head>
<body>
  ${header()}
  <main>
    <section class="page-width">
      <nav class="breadcrumbs">
        <a href="/">Home</a><span class="divider">/</span><span class="current">$app-name$ Privacy Policy</span>
      </nav>
      $body$
    </section>
  </main>
</body>
</html>
